# Exploring Hacker News Posts

In this project, we'll compare two different types of posts from <strong><u>Hacker News</u></strong>, a popular site where technology related stories (or 'posts') are voted and commented upon. The two types of posts we'll explore begin with either Ask HN or Show HN.

Users submit <strong><u>Ask HN</u></strong> posts to ask the Hacker News community a specific question, such as "What is the best online course you've ever taken?" Likewise, users submit <strong><u>Show HN</u></strong> posts to show the Hacker News community a project, product, or just generally something interesting.

We'll specifically compare these two types of posts to determine the following:

<ul>
<li>Do Ask HN or Show HN posts receive more comments on average?
<li>Do posts created at a certain time receive more comments on       average?
<li>Do Ask HN or Show HN posts obtain more points on average?
<li>Do posts created at a certain time obtain more points on average?
</ul>
<br>
<strong><u>Note:</u></strong>the data set we're working with was already reduced from almost 300,000 rows to approximately 20,000 rows by removing all submissions that did not receive any comments, and then randomly sampling from the remaining submissions

# Introduction

First, we will import the dataset, view it and remove the headers.

In [26]:
# Read in the data.
import pandas as pd

hn = pd.read_csv('hacker_news.csv')
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [27]:
headers = hn.columns
print(headers)

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [28]:
hn = pd.read_csv('hacker_news.csv', header = None)
hn.drop(index = 0, inplace = True)
hn.head()

,0,1,2,3,4,5,6
1,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
2,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
3,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
4,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
5,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

# Extracting Ask HN and Show HN posts

In [29]:
# Identify posts that begin with either `Ask HN` or `Show HN` and separate the data into different lists.
ask_posts = []
show_posts =[]
other_posts = []

for j, i in hn.iterrows():
    title = i[1]
    if title.lower().startswith("ask hn"):
        ask_posts.append(i)
    elif title.lower().startswith("show hn"):
        show_posts.append(i)
    else:
        other_posts.append(i)
        
print("Number of ask hn posts:", len(ask_posts))
print("Number of show hn posts:", len(show_posts))
print("Number of other posts:", len(other_posts))

Number of ask hn posts: 1744
Number of show hn posts: 1162
Number of other posts: 17194

# Calculating average number of comments on Ask HN and Show HN posts

In [30]:
total_ask_comments = 0

for post in ask_posts:
    total_ask_comments += int(post[4])
    
avg_ask_comments = total_ask_comments / len(ask_posts)
print("Average number of comments per 'Ask HN' post:", int(avg_ask_comments))

Average number of comments per 'Ask HN' post: 14

In [31]:
total_show_comments = 0

for post in show_posts:
    total_show_comments += int(post[4])
    
avg_show_comments = total_show_comments / len(show_posts)
print("Average number of comments per 'Show HN' post:", int(avg_show_comments))

Average number of comments per 'Show HN' post: 10


Thus, on average, Ask HN posts in our sample receive approximately 4 more comments as compared to Show HN posts.

# Calculating the best time for posting Ask HN posts to get comments

Now, we'll determine if we can maximize the amount of comments an Ask HN post receives by creating it at a certain time. First, we'll find the amount of Ask HN posts created during each hour of day, along with the number of comments those posts received. Then, we'll calculate the average amount of comments Ask HN posts created at each hour of the day receive. Finally, we'll sort the list and  retrieve the top 5 times to get most comments on Ask HN posts.

In [32]:
# importing datetime for parsing dates and times
import datetime as dt

In [33]:
# finding total comments on ask hn posts at different times

result_list = []

for post in ask_posts:
    result_list.append([post[6], int(post[4])])

comments_by_hour = {}
counts_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for each_row in result_list:
    date = each_row[0]
    comment = each_row[1]
    time = dt.datetime.strptime(date, date_format).hour
    if time in counts_by_hour:
        comments_by_hour[time] += comment
        counts_by_hour[time] += 1
    else:
        comments_by_hour[time] = comment
        counts_by_hour[time] = 1

comments_by_hour

{0: 447,
 1: 683,
 2: 1381,
 3: 421,
 4: 337,
 5: 464,
 6: 397,
 7: 267,
 8: 492,
 9: 251,
 10: 793,
 11: 641,
 12: 687,
 13: 1253,
 14: 1416,
 15: 4477,
 16: 1814,
 17: 1146,
 18: 1439,
 19: 1188,
 20: 1722,
 21: 1745,
 22: 479,
 23: 543}

In [34]:
# calculating the average comments per ask hn post at various different times
avg_by_hour = []

for hr in comments_by_hour:
    avg_by_hour.append([hr, comments_by_hour[hr] / counts_by_hour[hr]])

avg_by_hour

[[0, 8.127272727272727],
 [1, 11.383333333333333],
 [2, 23.810344827586206],
 [3, 7.796296296296297],
 [4, 7.170212765957447],
 [5, 10.08695652173913],
 [6, 9.022727272727273],
 [7, 7.852941176470588],
 [8, 10.25],
 [9, 5.5777777777777775],
 [10, 13.440677966101696],
 [11, 11.051724137931034],
 [12, 9.41095890410959],
 [13, 14.741176470588234],
 [14, 13.233644859813085],
 [15, 38.5948275862069],
 [16, 16.796296296296298],
 [17, 11.46],
 [18, 13.20183486238532],
 [19, 10.8],
 [20, 21.525],
 [21, 16.009174311926607],
 [22, 6.746478873239437],
 [23, 7.985294117647059]]

In [35]:
# sorting the list
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    

sorted_swap = sorted(swap_avg_by_hour, reverse=True)

sorted_swap

[[38.5948275862069, 15],
 [23.810344827586206, 2],
 [21.525, 20],
 [16.796296296296298, 16],
 [16.009174311926607, 21],
 [14.741176470588234, 13],
 [13.440677966101696, 10],
 [13.233644859813085, 14],
 [13.20183486238532, 18],
 [11.46, 17],
 [11.383333333333333, 1],
 [11.051724137931034, 11],
 [10.8, 19],
 [10.25, 8],
 [10.08695652173913, 5],
 [9.41095890410959, 12],
 [9.022727272727273, 6],
 [8.127272727272727, 0],
 [7.985294117647059, 23],
 [7.852941176470588, 7],
 [7.796296296296297, 3],
 [7.170212765957447, 4],
 [6.746478873239437, 22],
 [5.5777777777777775, 9]]

In [36]:
# retreiving the top 5 times
print("Top 5 Hours for 'Ask HN' Comments\n")

for i in range(5):
    print("{}:00: {:.2f} average comments per post".format(sorted_swap[i][1],sorted_swap[i][0]))

Top 5 Hours for 'Ask HN' Comments

15:00: 38.59 average comments per post
2:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post

# Calculating the best time for posting Show HN posts to get comments

Here, we'll determine if we can maximize the amount of comments an Show HN post receives by creating it at a certain time. First, we'll find the amount of Show HN posts created during each hour of day, along with the number of comments those posts received. Then, we'll calculate the average amount of comments Show HN posts created at each hour of the day receive. Finally, we'll sort the list and  retrieve the top 5 times to get most comments on Show HN posts.

The code will remain almost similar as used for Ask HN posts.

In [37]:
# finding total comments on show hn posts at different times

result_list = []

for post in show_posts:
    result_list.append([post[6], int(post[4])])

comments_by_hour = {}
counts_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for each_row in result_list:
    date = each_row[0]
    comment = each_row[1]
    time = dt.datetime.strptime(date, date_format).hour
    if time in counts_by_hour:
        comments_by_hour[time] += comment
        counts_by_hour[time] += 1
    else:
        comments_by_hour[time] = comment
        counts_by_hour[time] = 1

comments_by_hour

{0: 487,
 1: 246,
 2: 127,
 3: 287,
 4: 247,
 5: 58,
 6: 142,
 7: 299,
 8: 165,
 9: 291,
 10: 297,
 11: 491,
 12: 720,
 13: 946,
 14: 1156,
 15: 632,
 16: 1084,
 17: 911,
 18: 962,
 19: 539,
 20: 612,
 21: 272,
 22: 570,
 23: 447}

In [38]:
# calculating the average comments per show hn post at various different times

avg_by_hour = []

for hr in comments_by_hour:
    avg_by_hour.append([hr, comments_by_hour[hr] / counts_by_hour[hr]])

avg_by_hour

[[0, 15.709677419354838],
 [1, 8.785714285714286],
 [2, 4.233333333333333],
 [3, 10.62962962962963],
 [4, 9.5],
 [5, 3.0526315789473686],
 [6, 8.875],
 [7, 11.5],
 [8, 4.852941176470588],
 [9, 9.7],
 [10, 8.25],
 [11, 11.159090909090908],
 [12, 11.80327868852459],
 [13, 9.555555555555555],
 [14, 13.44186046511628],
 [15, 8.102564102564102],
 [16, 11.655913978494624],
 [17, 9.795698924731182],
 [18, 15.770491803278688],
 [19, 9.8],
 [20, 10.2],
 [21, 5.787234042553192],
 [22, 12.391304347826088],
 [23, 12.416666666666666]]

In [39]:
# sorting the list

swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    

sorted_swap = sorted(swap_avg_by_hour, reverse=True)

sorted_swap

[[15.770491803278688, 18],
 [15.709677419354838, 0],
 [13.44186046511628, 14],
 [12.416666666666666, 23],
 [12.391304347826088, 22],
 [11.80327868852459, 12],
 [11.655913978494624, 16],
 [11.5, 7],
 [11.159090909090908, 11],
 [10.62962962962963, 3],
 [10.2, 20],
 [9.8, 19],
 [9.795698924731182, 17],
 [9.7, 9],
 [9.555555555555555, 13],
 [9.5, 4],
 [8.875, 6],
 [8.785714285714286, 1],
 [8.25, 10],
 [8.102564102564102, 15],
 [5.787234042553192, 21],
 [4.852941176470588, 8],
 [4.233333333333333, 2],
 [3.0526315789473686, 5]]

In [40]:
# retreiving the top 5 times

print("Top 5 Hours for 'Show HN' Comments\n")

for i in range(5):
    print("{}:00: {:.2f} average comments per post".format(sorted_swap[i][1],sorted_swap[i][0]))

Top 5 Hours for 'Show HN' Comments

18:00: 15.77 average comments per post
0:00: 15.71 average comments per post
14:00: 13.44 average comments per post
23:00: 12.42 average comments per post
22:00: 12.39 average comments per post

# Calculating average number of points obtained by Ask HN and Show HN posts

In [41]:
total_ask_points = 0

for post in ask_posts:
    total_ask_points += int(post[3])

avg_ask_points = total_ask_points / len(ask_posts)
print("Average points per 'Ask HN' post:", int(avg_ask_points))

Average points per 'Ask HN' post: 15

In [42]:
total_show_points = 0

for post in show_posts:
    total_show_points += int(post[3])

avg_show_points = total_show_points / len(show_posts)
print("Average points per 'Show HN' post:", int(avg_show_points))

Average points per 'Show HN' post: 27

Thus, on average Show HN posts get around 80% more points than Ask HN posts.

# Calculating the best time for posting Ask HN posts to get maximum points

Now, we'll determine if we can maximize the amount of points obtained by an Ask HN post by creating it at a certain time. First, we'll find the amount of Ask HN posts created during each hour of day, along with the points those posts received. Then, we'll calculate the average amount of points Ask HN posts created at each hour of the day receive. Finally, we'll sort the list and  retrieve the top 5 times to get most points on Ask HN posts.

In [43]:
# finding total points on ask hn posts at different times

result_list = []

for post in ask_posts:
    result_list.append([post[6], int(post[3])])

points_by_hour = {}
counts_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for each_row in result_list:
    date = each_row[0]
    points = each_row[1]
    time = dt.datetime.strptime(date, date_format).hour
    if time in counts_by_hour:
        points_by_hour[time] += points
        counts_by_hour[time] += 1
    else:
        points_by_hour[time] = points
        counts_by_hour[time] = 1

points_by_hour

{0: 451,
 1: 700,
 2: 793,
 3: 374,
 4: 389,
 5: 552,
 6: 591,
 7: 361,
 8: 515,
 9: 329,
 10: 1102,
 11: 825,
 12: 782,
 13: 2062,
 14: 1282,
 15: 3479,
 16: 2522,
 17: 1941,
 18: 1741,
 19: 1513,
 20: 1151,
 21: 1721,
 22: 511,
 23: 581}

In [44]:
# calculating the average points per ask hn post at various different times

avg_by_hour = []

for hr in points_by_hour:
    avg_by_hour.append([hr, points_by_hour[hr] / counts_by_hour[hr]])

avg_by_hour

[[0, 8.2],
 [1, 11.666666666666666],
 [2, 13.672413793103448],
 [3, 6.925925925925926],
 [4, 8.27659574468085],
 [5, 12.0],
 [6, 13.431818181818182],
 [7, 10.617647058823529],
 [8, 10.729166666666666],
 [9, 7.311111111111111],
 [10, 18.677966101694917],
 [11, 14.224137931034482],
 [12, 10.712328767123287],
 [13, 24.258823529411764],
 [14, 11.981308411214954],
 [15, 29.99137931034483],
 [16, 23.35185185185185],
 [17, 19.41],
 [18, 15.972477064220184],
 [19, 13.754545454545454],
 [20, 14.3875],
 [21, 15.788990825688073],
 [22, 7.197183098591549],
 [23, 8.544117647058824]]

In [45]:
# sorting the list

swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    

sorted_swap = sorted(swap_avg_by_hour, reverse=True)

sorted_swap

[[29.99137931034483, 15],
 [24.258823529411764, 13],
 [23.35185185185185, 16],
 [19.41, 17],
 [18.677966101694917, 10],
 [15.972477064220184, 18],
 [15.788990825688073, 21],
 [14.3875, 20],
 [14.224137931034482, 11],
 [13.754545454545454, 19],
 [13.672413793103448, 2],
 [13.431818181818182, 6],
 [12.0, 5],
 [11.981308411214954, 14],
 [11.666666666666666, 1],
 [10.729166666666666, 8],
 [10.712328767123287, 12],
 [10.617647058823529, 7],
 [8.544117647058824, 23],
 [8.27659574468085, 4],
 [8.2, 0],
 [7.311111111111111, 9],
 [7.197183098591549, 22],
 [6.925925925925926, 3]]

In [46]:
# retrieving top 5 times
print("Top 5 Hours for 'Ask HN' Points\n")

for i in range(5):
    print("{}:00: {:.2f} average points per post".format(sorted_swap[i][1],sorted_swap[i][0]))

Top 5 Hours for 'Ask HN' Points

15:00: 29.99 average points per post
13:00: 24.26 average points per post
16:00: 23.35 average points per post
17:00: 19.41 average points per post
10:00: 18.68 average points per post

# Calculating the best time for posting Show HN posts to get maximum points

Now, we'll determine if we can maximize the amount of points obtained by an Show HN post by creating it at a certain time. First, we'll find the amount of Show HN posts created during each hour of day, along with the points those posts received. Then, we'll calculate the average amount of points Show HN posts created at each hour of the day receive. Finally, we'll sort the list and retrieve the top 5 times to get most points on Show HN posts.

In [47]:
# finding total points on show hn posts at different times


result_list = []

for post in show_posts:
    result_list.append([post[6], int(post[3])])

points_by_hour = {}
counts_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for each_row in result_list:
    date = each_row[0]
    points = each_row[1]
    time = dt.datetime.strptime(date, date_format).hour
    if time in counts_by_hour:
        points_by_hour[time] += points
        counts_by_hour[time] += 1
    else:
        points_by_hour[time] = points
        counts_by_hour[time] = 1

points_by_hour

{0: 1173,
 1: 700,
 2: 340,
 3: 679,
 4: 386,
 5: 104,
 6: 375,
 7: 494,
 8: 519,
 9: 553,
 10: 681,
 11: 1480,
 12: 2543,
 13: 2438,
 14: 2187,
 15: 2228,
 16: 2634,
 17: 2521,
 18: 2215,
 19: 1702,
 20: 1819,
 21: 866,
 22: 1856,
 23: 1526}

In [48]:
# calculating the average points per show hn post at various different times

avg_by_hour = []

for hr in points_by_hour:
    avg_by_hour.append([hr, points_by_hour[hr] / counts_by_hour[hr]])

avg_by_hour

[[0, 37.83870967741935],
 [1, 25.0],
 [2, 11.333333333333334],
 [3, 25.14814814814815],
 [4, 14.846153846153847],
 [5, 5.473684210526316],
 [6, 23.4375],
 [7, 19.0],
 [8, 15.264705882352942],
 [9, 18.433333333333334],
 [10, 18.916666666666668],
 [11, 33.63636363636363],
 [12, 41.68852459016394],
 [13, 24.626262626262626],
 [14, 25.430232558139537],
 [15, 28.564102564102566],
 [16, 28.322580645161292],
 [17, 27.107526881720432],
 [18, 36.31147540983606],
 [19, 30.945454545454545],
 [20, 30.316666666666666],
 [21, 18.425531914893618],
 [22, 40.34782608695652],
 [23, 42.388888888888886]]

In [49]:
# sorting the list
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    

sorted_swap = sorted(swap_avg_by_hour, reverse=True)

sorted_swap

[[42.388888888888886, 23],
 [41.68852459016394, 12],
 [40.34782608695652, 22],
 [37.83870967741935, 0],
 [36.31147540983606, 18],
 [33.63636363636363, 11],
 [30.945454545454545, 19],
 [30.316666666666666, 20],
 [28.564102564102566, 15],
 [28.322580645161292, 16],
 [27.107526881720432, 17],
 [25.430232558139537, 14],
 [25.14814814814815, 3],
 [25.0, 1],
 [24.626262626262626, 13],
 [23.4375, 6],
 [19.0, 7],
 [18.916666666666668, 10],
 [18.433333333333334, 9],
 [18.425531914893618, 21],
 [15.264705882352942, 8],
 [14.846153846153847, 4],
 [11.333333333333334, 2],
 [5.473684210526316, 5]]

In [50]:
# retrieving top 5 times
print("Top 5 Hours for 'Show HN' Points\n")

for i in range(5):
    print("{}:00: {:.2f} average points per post".format(sorted_swap[i][1],sorted_swap[i][0]))

Top 5 Hours for 'Show HN' Points

23:00: 42.39 average points per post
12:00: 41.69 average points per post
22:00: 40.35 average points per post
0:00: 37.84 average points per post
18:00: 36.31 average points per post

# Conclusion

In this project, we analyzed Ask HN posts and Show HN posts to determine which type of post and time receive the most comments and points on average. Based on our analysis, to maximize the amount of comments a post receives, it's better to categorize the post as Ask HN post and create it between 15:00 and 16:00 (3:00 pm est - 4:00 pm est).

However, it should be noted that the data set we analyzed excluded posts without any comments. Given that, it's more accurate to say that of the posts that received comments, ask posts received more comments on average and ask posts created between 15:00 and 16:00 (3:00 pm est - 4:00 pm est) received the most comments on average.

Similarly, for obtaining the maximum points, it's better to categorize the post as Show HN post and create it between 22:00 to 23:00 (10:00 pm est - 11:00 pm est).